.advanced-setup {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: none;

  li.divider {
    margin: 3px 0;
  }

  .advanced-setup__btns {
    margin-top: 24px;

    .btn,
    .btn:first-child {
      margin-right: 12px;
      border-radius: 4px;
    }
  }

  .form {
    padding-bottom: 24px;
  }

  .divider {
    border-bottom: 1px solid #e4e6e9;
  }
}
