.category-tree {
  background-color: #f5f6f7;
  box-shadow: inset 0 -1px 0 0 rgba(68, 79, 108, 0.15);

  .nested-sortable__node {
    .nested-sortable__node-header {
      background-color: #f5f6f7;
      box-shadow: inset 0 0 0 0 rgba(68, 79, 108, 0.3),
        inset -1px 0 0 0 rgba(68, 79, 108, 0.3),
        inset 0 -1px 0 0 rgba(68, 79, 108, 0.15);

      &.is-hover {
        background-color: #f5f6f7;
      }

      &.is-selected {
        background-color: #ffffff;
        box-shadow: inset 0 2px 0 0 #00aadf;
      }
    }

    &:last-child .nested-sortable__node-header {
      box-shadow: inset 0 -1px 0 0 rgba(68, 79, 108, 0.15);
    }

    .nested-sortable__node-placeholder {
      overflow: visible;
    }
  }
}
