.transaction-form {
  margin-top: 12px;

  .btn-toolbar {
    margin-left: -24px;
    margin-top: 48px;
  }
}

.transaction-form__general-error {
  margin: 16px -12px;
  .help-block {
    color: #d0021b;
  }
}
