.notification-settings__radio-selector {
  align-items: center;

  > :last-child {
    margin-left: 20px;
    margin-top: 0px;
  }
}

.notification-settings__form-message-margin {
  margin-bottom: 50px;
}
