body.extension-sandbox-container {
  .settings-page {
    max-width: 552px;
    margin: auto;
    padding-bottom: 12px;

    &.is-wide {
      max-width: 808px;
    }

    .btn-toolbar {
      margin-top: 48px;
      margin-bottom: 48px;
    }
  }
}
