.deal-stats-page {
  padding-top: 24px;

  > h3 {
    display: inline-block;
    margin-top: 24px;
  }
}

.deal-stats-page__search {
  float: right;
  margin: 16px 0 0;

  .form-group .form-control {
    max-width: 230px;
    box-shadow: inset 0 0 0 0 rgba(68, 79, 108, 0.3);

    &:focus {
      box-shadow: inset 0 0 0 0 rgba(68, 79, 108, 0.3);
    }
  }
}
