.btn-toolbar {
    margin-top: 15px;
}

.shopify-settings-page {
  margin: auto;
  max-width: 552px;
}

.note {
  margin-top: 5px;
}

img {
  width: 36px;
  height: 36px;
  margin-top: 3px;
  margin-left: 30px;
}
