.cms {
  min-width: 504px;

  .loader-container.is-overlay .circular-loader {
    padding: 8px;
  }

  .additional-options {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0 -48px;
    margin-bottom: 24px;
    box-shadow: inset 0 -1px 0 0 #e4e6e9, inset 0 1px 0 0 #e4e6e9;
  }

  .content-options {
    display: flex;
    float: right;
  }
}

.cms__empty-placeholder {
  margin-top: 50px;
}

.cms__header {
  padding-top: 38px;
  padding-bottom: 24px;
}

.cms__header::after {
  content: '';
  display: table;
  clear: both;
}

.cms__content {
  position: absolute;
  max-height: 384px;
  overflow: hidden;
  padding-right: 96px;
  width: 100%;
}

.cms-extended {
  min-width: 545px;
}

.cms__checkbox-enable-search {
  padding-top: 38px;
}
