.barcode-regex-form {
  padding: 12px 48px 24px;
  box-shadow: inset 0 -1px 0 0 #e4e6e9, inset 0 1px 0 0 #e4e6e9;

  .btn-toolbar {
    margin-top: 24px;
  }
}

.barcode-regex-form__input {
  input {
    margin-top: 8px;
  }
}

.barcode-regex-form__link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.barcode-regex-form__icon-popover {
  vertical-align: middle;
  margin: 0 8px;
  color: #bdc0cb;
}
