.custom-fonts-table {
  .form-control-static {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .table > thead > tr {
    > :nth-child(2),
    :nth-child(3),
    :last-child {
      width: 35px;
    }
  }

  label {
    height: 24px;
    padding-top: 8px;
  }

  .fonts-table__title {
    h3 {
      float: left;
    }

    .icon-label {
      text-transform: none;
      font-weight: normal;
      padding-top: 48px;
    }
  }
}
