<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSCameraUsageDescription</key>
    <string>Enable your camera so that others can see you during video calls.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Enable your microphone so that others can hear you during video calls.</string>
  </dict>
</plist>
