.general-settings-page {
  max-width: 552px;
  margin: auto;

  &.is-wide {
    max-width: 808px;
  }

  .btn-toolbar {
    margin-top: 24px;
  }

  .retailers__form {
    .form-control {
      height: 200px;
    }
  }
}

.general-settings-page__image-uploader {
  height: 265px;
}
