:global {
  .file-upload-placeholder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.1s;

    border: 1px dashed #C6CAD2;
    background-color: transparent;

    .se-icon {
      font-size: 24px;
      padding-bottom: 8px;
      color: #444f6c;
    }

    &:hover {
      background-color: #ecf9fd;
    }
  }
}
