:global {
  .general-settings {
    h3 {
      padding-bottom: 16px;
    }

    .form-group .control-label {
      padding-top: 16px;
    }
  }

  .general-settings__icon-popover {
    vertical-align: middle;
    margin: 0 8px;
    color: #bdc0cb;
  }

  .general-settings__switch {
    float: right;

    .switch__button {
      margin-top: 16px;
      margin-right: 16px;
    }
  }
}
