<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Enable location access so you can get relevant content or directions</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Enable location access so you can get relevant content or directions</string>
     <key>NSCameraUsageDescription</key>
    <string>App needs access to your camera to be able to scan QR codes</string>
  </dict>
</plist>
