.fair-use-alert {
  margin-top: 48px;
  padding: 32px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

  a {
    text-decoration: underline;
  }
}

.sendbird-settings-page__icon-popover {
  margin-left: 4px;
}

.popover-message {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #46506A;

  a {
    text-decoration: underline;
  }
}
