.bool-redux-form-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;

  .form-name {
    font-size: 14px;
  }

  .switch {
    display: flex;
    align-items: center;
  }
}
