.deals-dashboard {
  padding-top: 24px;
}

.deals-cms-table {
  margin-top: 24px;

  .multiselect-dropdown {
    .btn {
      min-width: 85px;
    }
  }

  .checkbox.se-checkbox .checkbox-icon {
    top: 0px;
    width: 36px;
  }
}

.cms-table-row__totalCoupons,
.cms-table__totalCoupons-header {
  width: 64px;
  text-align: center;
}

.cms-table__place-header {
  @media (max-width: 650px) {
    width: 60px;
  }
}

.cms-table__startTime-header,
.cms-table__endTime-header {
  width: 80px;
}

.table > tbody > tr > td.cms-table-row__startTime,
.table > tbody > tr > td.cms-table-row__endTime {
  padding-right: 5px;
}

.deals-dashboard__title {
  padding-bottom: 48px;

  h3 {
    float: left;
    margin: 0 0 24px 12px;
  }

  .btn {
    margin-top: -8px;
    text-transform: none;
    font-weight: normal;
  }
}

.deals-dashboard .cms-actions-menu__dropdown {
  margin-top: -8px;
}
