<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shoutem.firebase">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />

	<application>
		<service android:name="com.evollu.react.fcm.MessagingService" android:enabled="true" android:exported="true">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT"/>
			</intent-filter>
		</service>

		<service android:name="com.evollu.react.fcm.InstanceIdService" android:exported="false">
			<intent-filter>
				<action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
			</intent-filter>
		</service>

		<receiver android:name="com.evollu.react.fcm.FIRLocalMessagingPublisher"/>
		<receiver android:enabled="true" android:exported="true"  android:name="com.evollu.react.fcm.FIRSystemBootEventReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="android.intent.action.QUICKBOOT_POWERON"/>
				<action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>
	</application>

</manifest>
