.agora-settings-page {
  padding-left: 48px;
  padding-right: 48px;
  margin: auto;

  .btn-toolbar {
    margin-top: 24px;
  }

  .form-group .control-label {
    padding-top: 16px;
  }
}

.agora-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  .font-icon {
    vertical-align: middle;
    margin: 0 8px;
    color: #bdc0cb;
  }
}
