.row {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid rgba(49, 60, 89, 0.13);
}

.row-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.row-title {
  padding-left: 30px;
}
