.journey-form__container {
  .btn-toolbar {
    margin-top: 30px;
  }
}

.journey-form__add-new-notification {
  h3 {
    margin-bottom: 4px;
  }

  .icon-label {
    text-transform: none;
    font-weight: normal;
    padding-top: 48px;
  }
}

.journey-form__warning-text {
  white-space: pre-line;
}
