.monitored-screens-table {
  p {
    margin-top: 0px;
  }

  .table {
    margin-top: 4px;

    > tbody > tr {
      .form-control-static {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    > tbody > tr > td {
      padding: 0px;
    }
  }
}
