:global {
  .member-form {
    .row {
      margin: 0;
    }

    .btn-toolbar {
      margin: 48px -12px 12px;
    }
  }

  .member-form__firstName {
    padding: 0 12px 0 0;
  }

  .member-form__lastName {
    padding: 0 0 0 12px;
  }
}
