.users-dashboard {
  .table {
    margin-top: 24px;

    > thead > tr > th {
      padding: 14px 8px 8px 0;
      vertical-align: middle;
    }

    > tbody > tr > td {
      padding: 4px 8px 4px 0;
    }
  }

  .table-header__status {
    width: 184px;
    text-align: center;
  }

  .table-header__actions {
    width: 48px;
  }

  .table-header__userGroups {
    width: 200px;
  }

  .table-header__username {
    padding-right: 24px;
  }
}

.users-dashboard__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .btn {
    text-transform: none;
    font-weight: normal;
  }
}

.users-dashboard__title_container {
  display: flex;
  flex-direction: row;

  .users-dashboard__title {
    font-size: 18px;
    line-height: 24px;
    margin: 0px 16px 0px 0px;
  }
}

.download-button {
  display: flex;
  font-size: 24px;
  margin-right: 16px;
  color: #BDC0CB;

  &:hover {
    color: #444f6c;
  }

  .circular-loader {
    width: 24px;
    height: 24px;
  }
}

.font-icon-popover__popover {
  color: #444f6c;
}

.button-cursor {
  cursor: pointer;
}
