@font-face {
  font-family: "Museo Sans";
  src: local('Museo Sans'), url(./assets/fonts/MuseoSansCyrl-500.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DroidSerif";
  src: local('Museo Sans'), url(./assets/fonts/MuseoSansCyrl-500.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}
