.table {
  .drag-body-wrapper {
    border-bottom: none;

    tr {
      border-bottom: none;
    }
  }

  > tbody + tbody {
    border-top: 1px solid #ddd;
  }

  > tbody > tr.table__empty-row {
    border-bottom: none;
    color: #888fa1;

    > td {
      padding-top: 8px;
    }
  }

  > thead > tr > th:first-child,
  > tbody > tr > td:first-child {
    padding-left: 12px;
  }

  > thead > tr > th,
  > tbody > tr > td {
    padding-left: 8px;
    padding-right: 8px;
    border-top: none;
  }

  > thead > tr > th:last-child,
  > tbody > tr > td:last-child {
    width: 140px;
    padding-right: 12px;
  }
}
