.chat-settings-page {
  padding-left: 48px;
  padding-right: 48px;
  margin: auto;

  .btn-toolbar {
    margin-top: 24px;
  }

  .form-group .control-label {
    padding-top: 16px;
  }
}

.invitation-alert {
  margin-top: 32px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  color: #7C8395;
}

a {
  font-weight: bold;
}
