.platform-analytics__value-container {
  display: flex;
  flex-direction: row;
}

.platform-analytics__value {
  font-size: 14px;
  margin-top: 0px;
  color: '#444F6C';
}

.platform-analytics__icon {
  margin-right: 3px;
}
