.panel-container {
  border-width: 0px;
  margin-top: 48px;
}

.panel-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #46506A;

  a {
    text-decoration: none;
  }
}

.panel-heading {
  height: 65px;
  border-width: 0px;
  background: #F4F5F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.panel-toggle {
  width: 24px;
  height: 24px;
  background-image: url(../../../assets/collapsed-arrow.svg);
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.panel-toggle-collapsed {
  width: 24px;
  height: 24px;
  background-image: url(../../../assets/collapsed-arrow.svg);
  transform: rotate(-180deg);
  transition: transform 0.5s ease;
}

.panel-body {
  background: #F4F5F6;
  border-width: 0px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

  ul {
    margin-top: 32px;
    margin-bottom: 8px;
  }

  li {
    margin-bottom: 24px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #46506A;
  }
}
