{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "Action": false,
    "describe": false,
    "it": false,
    "assert": false,
    "beforeEach": false,
    "afterEach": false
  },
  "rules": {
    "no-empty-label": 0,
    "space-before-keywords": 0,
    "space-after-keywords": 0,
    "space-return-throw-case": 0,
    "no-implicit-coercion": [
      1,
      {
        "allow": [
          "!!"
        ]
      }
    ],
    "no-iterator": 0,
    "import/no-unresolved": 0,
    "jsx-a11y/img-has-alt": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      },
      {
        "usePrettierrc": false
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  }
}