:global {
  body.extension-sandbox-container {
    .modal-backdrop {
      background-color: #ffffff;

      .in {
        opacity: 0.8;
      }
    }

    .settings-page {
      max-width: 552px;
      margin: auto;

      .btn-toolbar {
        margin-top: 15px;
      }

      &.is-wide {
        max-width: 808px;
      }
    }

    .modal.settings-page-modal .modal-dialog:not(.modal-lg) {
      width: 100%;

      .modal-header,
      .modal-body {
        max-width: 552px;
        margin: auto;
      }
    }
  }
}
