.newsletter-settings {
  margin-top: 24px;
  margin-bottom: 48px;

  button {
    margin-top: 24px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 16px;
  }
}

.newsletter-settings__icon-popover {
  vertical-align: middle;
  margin: 0 8px;
  color: #bdc0cb;
}
