:global {
  .members-dashboard {
    padding-top: 48px;

    h3 {
      float: left;
      margin-bottom: 24px;
    }

    .btn {
      text-transform: none;
      font-weight: normal;
      padding-top: 48px;
    }
  }
}
