.gdpr-settings {
  button {
    margin-bottom: 12px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 16px;
  }
}

.gdpr-settings__icon-popover {
  vertical-align: middle;
  margin: 0 8px;
  color: #bdc0cb;
}

.gdpr-toggle-section {
  margin-top: 24px;
  margin-bottom: 24px;
}
