:global {
  .shortcuts-table {
    &.table {
      margin-top: 16px;

      > tbody > tr > td {
        padding: 0;
      }
    }

    &.table > tbody > tr.shortcuts-table__empty-row {
      border-bottom: none;
      color: #888fa1;
      margin-top: 8px;
    }
  }
}
