<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSCameraUsageDescription</key>
    <string>App needs access to your camera to be able to upload photos from your device</<string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>App would like to save photos to your photo gallery</<string>
    <key>NSMicrophoneUsageDescription</key>
    <string>App would like to use your microphone (for videos)</<string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>App needs access to your image library to be able to upload photos from your device</string>
  </dict>
</plist>
