<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSCameraUsageDescription</key>
    <string>App needs access to your camera to be able to take a profile photo for use in social features</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>App would like to use your microphone for videos</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>App needs access to your image library so you can select images for upload</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>App needs access to your image library in order to save images</string>
  </dict>
</plist>
