.page-container {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e4e6ea;
  }

  .settings-page-modal-small {
    max-height: 500px;
  }

  .image-upload__container {
    display: flex;
    flex-direction: row;
  }

  .image-uploader-featured__container {
    margin-left: 40px;
  }

  .image-preview-featured,
  .image-uploader__featured {
    background-size: contain;
    vertical-align: center;
    width: 170px;
    height: 170px;
    .circular-loader {
      width: 25px;
      height: 25px;
      }
    .se-icon {
      opacity: 0.5;
      padding-top: 60px;
    }
    .image-error {
      height: 15px;
      margin-top: 25px;
    }
  }

  .image-preview-custom,
  .image-uploader__custom {
    background-size: contain;
    vertical-align: center;
    width: 168px;
    height: 300px;
    .circular-loader {
      width: 25px;
      height: 25px;
      padding-top: 120px;
      }
    .se-icon {
      padding-top: 120px;
      opacity: 0.5;
    }
    .image-error {
      height: 15px;
      margin-top: 25px;
    }
  }

  .title-button {
    position: relative;

    Button {
      position: absolute;
      bottom: 8px;
      right: 0px;
    }
  }

  .delete-page-button {
    min-width: 10px;
    min-height: 10px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
    font-size: 12px;
    align-content: center;
  }

  .text-error {
    padding-top: 10px;
    font-size: 13px;
    color: red;
}
