body.extension-sandbox-container {
  .settings-page {
    max-width: 552px;
    margin: auto;

    &.is-wide {
      max-width: 808px;
    }
  }
}

.save-button {
  padding-top: 20px;
}

.icon-popover {
  vertical-align: middle;
  margin: 0 8px;
  color: #bdc0cb;
}
