.array-form {
  .add-more {
    display: inline-block;
  }

  .add-more-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
    width: 100px;

    .add-more-icon {
      color: #bdc0cb;
    }

    .add-more-text {
      font-weight: 500;
      font-size: 15px;
      padding-left: 5px;
      padding-top: 2px;
    }
  }
}
