.iap-settings-page {
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;

  .btn-toolbar {
    margin-top: 30px;
    margin-bottom: 24px;
  }

  .form-group .control-label {
    padding-top: 16px;
    max-width: 85%;
  }
}

.error-text {
  margin-top: 24px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1px;
  color: #d05c5c;
}

.instructions-container {
  display: flex;
  background: #e4e6e966;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 6px;
}

.instructions {
  color: #444f6c;
  padding: 0;
  margin: 0;
}

.invitation-alert {
  margin-top: 32px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  color: #7c8395;
}
