.ads-settings-page {
  padding-left: 48px;
  padding-right: 48px;
  margin: auto;

  .ads-settings-selector {
    align-items: flex-end;

    > :last-child {
      margin-left: 20px;
    }
  }

  .btn-toolbar {
    margin-top: 24px;
  }

  .form-group .control-label {
    padding-top: 16px;
  }
}

.icon-popover {
  vertical-align: middle;
  margin: 0 8px;
  color: #bdc0cb;
}
