:global {
  .user-group-screen-settings__table {
    &.table {
      margin-top: 16px;

      > tbody > tr > td {
        padding: 0;
      }
    }

    &.is-disabled {
      opacity: 0.7;
    }
  }

  .user-group-screen-settings__alert {
    margin: 12px 0;
    padding: 16px;
  }
}
