.array-text-editor-form-item-container {
  .remove-btn {
    float: right;
    padding-bottom: 6px;
    color: #00aadf;
    cursor: pointer;
  }

  .editor {
    float: left;
    padding-bottom: 10px;
  }

  .rich-text-editor__image-picker-icon {
    top: 175px;
  }

  .rich-text-editor__emoji-icon {
    top: 175px;
  }
}
