### purely docker-compose vars

API_EXPOSED_PORT=3015
POSTGRES_EXPOSED_PORT=5432

### server only vars

NODE_ENV=dev
NODE_PORT=3015
LOG_LEVEL=error
ERROR_SHOW_FULL=true
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pass
POSTGRES_DB=db
POSTGRES_HOST=postgres
POSTGRES_PORT=5450


JWT_SECRET=
JWT_ALGORITHM=
JWT_ISSUER=
JWT_REALM=
SERVICES_AUTH_URL=
SWAGGER_BASE_URL=
