# @shoutem/react-form-builder has peer dep conflict
# redux-form ^5 expects react-redux ^3 | ^4 | ^5, react-redux dep is ^7
# updating redux-form (latest) to support react-redux ^7 has breaking changes
legacy-peer-deps=true
